@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: BlackerSansPro;
  src: url(/fonts/BlackerSansProVariableGX.ttf);
}
html,
body {
  padding: 0 15px;
  max-width: 100vw;
}
strong{
  font-weight: 250;
}
:root{
  --foreground: #111111;
  --background: #fff;
  --card-bg: #e9e9e9;
  --sub-background: #dadada;
  --sub-border: rgba(149, 149, 149, 0.3019607843);
  --background-transparent: rgba(0, 0, 0, 0.02);
  --ico-effect: brightness(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root{
    --foreground: #fff;
    --background: #111111;
    --card-bg: #141414;
    --sub-background: #2e2e2e;
    --sub-border: #9595954d;
    --background-transparent: rgba(0, 0, 0, .3);
    --ico-effect: grayscale(1);
  }
}

.background_cursor_gradient{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: radial-gradient(100% 100% at 50% 0%, #00000000 0%, #0a0a0a 100%), radial-gradient(90% 80% at 10% 20%, #081816 0%, #00000000 100%), radial-gradient(200% 120% at 50% 0%, #5625f7 0%, #00000000 100%);
  mask-size: 100% 100%;
}
.background{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: radial-gradient(#56ecad 0.5px, #00000000 0.5px);
  background-size: 1.5rem 1.5rem;
  mask-size: 100% 100%; 
  transition: mask-image 3s;
}

body {
  font-family: BlackerSansPro, Arial, Helvetica, sans-serif;
  font-weight: 180;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

.red{
  background: red !important;
  color: #fff !important;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background: var(--foreground);
  padding: 5px 10px;
  cursor: pointer;
  color: var(--background);
  border-radius: 5px
}

.flex{
  display: flex;
}

.center{
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.font-light{
  font-weight: 40;
}

.page-header{
  font-size: 32px;
  font-weight: 150;
}
.error-message{
  color: red;
}

.page-subheader{
  font-size: 27px;
}

.page-content .page-subheader{
  font-size: 21px;
}

.fz18{
  font-size: 18px;
}

.container{
  width: 80%;
}

/* Slider */
.slick-dots li button:before{
  color: #fff !important;
}
/* Widths */
.w80{
  width: 80%;
}
.w60{
  width: 60%;
}
.w40{
  width: 40%;
  height: auto;
}
.w30{
  width: 30%;
  height: auto;
}
/* Margins */
.mb50{
  margin-bottom: 50px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mt10{
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 992px) {
  .page-header{
    font-size: 26px;
  }
}

@media (max-width: 700px) {
  .md-mb20{
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  body{
    padding: 0 5px;
  }
  .container{
    width: 100%;
  }
  .md-w100{
    width: 100%;
  }
  .md-w80{
    width: 100%;
  }
  .modal-close{
    font-size: 18px !important;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.modal_wrapper{
  position: relative;
  border-radius: 3rem;
  padding: 15px 10px 0;
  background-color: var(--background);
}

.modal-close{
  position: absolute;
  top: 26px;
  right: 26px;
  line-height: 0;
  color: #ff0000;
  font-size: 25px;
  cursor: pointer;
}

.modal .success{
  padding: 30px;
}

.breadcrumb span{
  color: var(--foreground)
}
.breadcrumb a:hover{
  color: var(--foreground)
}

.promo,
.partners,
.services,
.customer_block,
.promo_work {
  opacity: 0; /* Начальное состояние (невидимо) */
  transform: translateX(-50px); /* Сдвинет элемент вниз */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.promo::before,
.partners::before,
.services::before,
.customer_block::before,
.promo_work::before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  backdrop-filter: blur(30px);
  transform: translateX(0); /* Сдвинет элемент вниз */
  transition: backdrop-filter 0.5s ease-out;
}


.reveal {
  opacity: 1; /* Конечное состояние (видимо) */
  transform: translateX(0); /* Вернёт на исходное место */
}
.reveal::before{
  backdrop-filter: blur(0px) /* Вернёт на исходное место */
}